dataops/modelling/dbt_packages/*
# This entry is no longer needed as streamlit has moved to solution/streamlit
dataops/snowflake/sole-output/*
dataops/snowflake/databases.yml
dataops/snowflake/roles.yml
dataops/snowflake/warehouses.yml
logs/
snowflake.log
snowflake-provider/
vault-content/vault.yml
solution/homepage/__pycache__/**
