@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

h1 {
  text-transform: uppercase;
  color:#29B5E8; text-transform: uppercase; 
  font-size:20px; 
  font-family:Arial;
  font-weight:regular
}

h0black {font-size:40px; 
  font-family:Arial;
  font-weight:bold;
  color:#000000;
  text-transform: uppercase}


h0blue {font-size:40px; 
    font-family:Arial;
    font-weight:bold;
    color:#29B5E8;
    text-transform: uppercase}


h1grey {font-size:20px; 
      font-family:Arial;
      font-weight:bold;
      color:#24323D;
      text-transform: uppercase}