@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

h1sub {
  text-transform: uppercase;
  color:#29B5E8; text-transform: uppercase; 
  font-size:20px; 
  font-family:Lato;
  font-weight:bold
}

h0black {font-size:40px; 
  font-family:Lato;
  font-weight:bold;
  color:#000000;
  text-transform: uppercase}


h0blue {font-size:40px; 
    font-family:Lato;
    font-weight:bold;
    color:#29B5E8;
    text-transform: uppercase}

h1black {font-size:28px; 
      font-family:Lato;
      font-weight:bold;
      color:#000000;
      text-transform: uppercase}
    
    
h1blue {font-size:28px; 
        font-family:Lato;
        font-weight:bold;
        color:#29B5E8;
        text-transform: uppercase}


h1grey {font-size:20px; 
      font-family:Lato;
      font-weight:bold;
      color:#24323D;
      text-transform: uppercase}


body {font-size:16px; 
        font-family:Lato;
        font-weight:regular;
        color:#24323D}
